on post-fs-data
# VIA flashlessd service
    mkdir /data/flashless 0770 radio system
    mkdir /data/nvram/md_via 0770 root system
    chmod 0660 /dev/ttyMT2
    chown radio radio /dev/ttyMT2
    chmod 0660 /dev/vmodem
    chown radio radio /dev/vmodem

#VIA pppd service
    mkdir /data/pppd_via 0770 radio system

on boot
#VIA device property
setprop viatel.device.asci uart.2.ttyMT
setprop viatel.device.fls  sdio.2.ttySDIO
setprop viatel.device.at   sdio.3.ttySDIO
setprop viatel.device.data sdio.0.ttySDIO
setprop viatel.device.at2  sdio.6.ttySDIO

#statusd service
service statusd /system/bin/statusd -f [/system/bin/flashlessd -l -m 0]
    socket statusd stream 660 radio radio
    user radio
    group radio cache inet misc system

